.card-body{
    padding: .8rem ;
}
.content-header{
    padding: .7rem;
}

.btn {
    font-size: .9rem;
}

.status-chip-success{
    background-color: rgb(228, 255, 228);
    color: rgb(13, 180, 13);
    font-weight: bold;
    font-size: 13px;
    padding: .3rem;
    border-radius: 2px;
}
.status-chip-danger{
    background-color: rgb(255, 216, 216);
    color: rgb(202, 0, 0);
    font-weight: bold;
    font-size: 13px;
    padding: .3rem;
    border-radius: 2px;
}
.status-chip-warning{
    background-color: rgb(255, 245, 221);
    color: rgb(255, 174, 0);
    font-weight: bold;
    font-size: 13px;
    padding: .3rem;
    border-radius: 2px;
}

.p-button {
    color: #ffffff !important;
    background: #f75d34 !important;
    border: 1px solid #f75d34 !important;
    padding: 0.25rem 1.25rem !important;
    font-size: 1rem !important;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
}
.p-button:focus {
    box-shadow: 0 0 0 0px #ffffff, 0 0 0 0px #9dc1fb, 0 0px 0px 0 black;
}


.p-inputtext:enabled:focus {
  
    box-shadow: 0 0 0 0.0rem #bfdbfe;
    border-color: #3B82F6;
}


 .p-dialog-header {
    border-bottom: 1px solid #ddd !important;
    background: #ffffff;
    color: #343a40;
    padding: 1rem 1.5rem !important;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 1px solid #ddd;
}

 .p-dialog-footer {
    border-top: 1px solid #ddd !important;
    background: #ffffff;
    color: #495057;
    padding: 1.0rem 1.5rem 1.0rem 1.5rem !important;
    text-align: right;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.p-inputtext {
   
    padding: 0.35rem 0.75rem;

}

/* .p-inputtext {
    width: 33rem;
    padding: 0.35rem 0.75rem;
} */

label {

    margin-top: 5px;
}

.btn-sm, .btn-group-sm > .btn {
    width: 24%;
  
}



.dataTables_scrollBody{
    position: relative;
    /* overflow: auto !important; */
    max-height: 100vh !important;
    height: auto !important;
    width: 100%;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: none;
    width: 6.2rem;
}
.btn-warning {
    color: #1f2d3d;
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: none;
    width: 6.2rem;
}


/* common grid styles */
#commonGrid table td{
    padding: 0.3rem 0.5rem;
}

.table-bordered thead th, .table-bordered thead td{
    border-bottom: 0px !important;
}
#commonGrid table tr>th:first-child {
    min-width: 5.2rem;
    max-width: 5.2rem;
    width: 5.2rem;
}
#commonGrid table tr>td:first-child {
    min-width: 5.2rem;
    max-width: 5.2rem;
    width: 5.2rem;
}
#commonGrid table>thead>tr>th:last-child{
    width: 30rem !important;
}


.p-datatable .p-datatable-thead > tr > th{
    padding: .6rem;
    /* background-color: #efefef; */
}

.p-datatable .p-datatable-header{
    padding: .8rem;

}
.p-sortable-column-icon{
    font-size: .7rem !important;
    margin-left: 0 !important;
}
.p-datatable .p-sortable-column:focus{
    box-shadow: none !important;
}
.p-datatable-scrollable-table>.p-datatable-thead{
    top: -1px !important;
}
.p-paginator{
    padding: .2rem !important;
    
}


/* .p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: 24.90rem;
  } */

.p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color:none;
}
.p-dropdown {
    display: flex!important;
    width: 100%!important;
}
p-dropdown{
    width: 100%;
}
.p-dialog {
    max-height: 100% !important;
    /* max-width: 20% !important; */
}





.p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: 24.90rem;
  }
  /* .p-button:last-child.p-button-icon-only */

  /* inplace settings */
.p-inplace-content> p-calendar + button.p-button-icon-only{

    margin-left: 5px;
    height: 2.357rem;
}

/* datepicker settings */

.defaultDatePickerDesign .p-datepicker table td > span {
    width: 1.5rem !important;
    height: 1.5rem !important;
    border-radius: 10%;
    transition: box-shadow 0.2s;
    border: 1px solid transparent;
    margin: .2rem !important;
  }
  .defaultDatePickerDesign .p-datepicker table th {
    padding: 0.2rem !important;
  }
  .defaultDatePickerDesign .p-datepicker {
    padding: 0.2rem !important;
  }
  .defaultDatePickerDesign .p-datepicker table {
    font-size: .8rem !important;
  }
  .defaultDatePickerDesign .p-datepicker .p-datepicker-header {
    padding: 0.1rem !important;
    font-weight: 400 !important;
  
  }
  .defaultDatePickerDesign .p-datepicker table td{
    padding: 0 !important;
  }

  .defaultDatePickerDesign table td,.defaultDatePickerDesign table th {
    width: 1.5rem !important;
    min-width: 1.5rem !important;
    max-width: 1.5rem !important;
    height: 1.5rem !important;
  }
  .defaultDatePickerDesign table td {
    padding: 0.1rem 0.1rem !important;
}
  .defaultDatePickerDesign .p-datepicker table td > span.p-highlight {
    color: #ffffff !important;
    background: #2196f3 !important;
  }

  
  #city_auto, #city_auto>.p-autocomplete ,#city_auto .p-inputtext{
    width: 100% !important;
  }
  .p-highlight .p-checkbox .p-checkbox-box {
    border-color: #ced4da !important;
}





.ngx-overlay> .ngx-loading-logo{


    height: 80px !important;
    width: 80px!important;
}

