.btn-info{
    margin: 0 10px;
}
.card{
    margin-bottom: 0 !important;
}
/* .btn-warning{
    padding-left: 0;
    padding-right: 0;
} */
/* .card-body{
    height: 80vh;
    overflow: scroll;
} */

/* .action-btn{
width: 90px;
font-size: 10px;
} */
/* #approved{
    width: 15% !important;
} */


