<!-- Header -->
<header id="header" class="header">
  <div class="header__container container container--px">
    <nav class="navbar flex">
      <a href="#" class="navbar__brand" title="Back to the homepage"> <img src="../../assets/img/demo.jpg"
          alt="Hand Holding Joystick" class="hero__image"></a>

      <button id="toggleMenuBtn" class="navbar__toggle-menu toggle-menu" type="button" aria-haspopup="true"
        aria-expanded="false" aria-label="Toggle navigation">
        <div class="toggle-menu__hamburger hamburger" aria-hidden="true">
          <div class="hamburger__item"></div>
          <div class="hamburger__item"></div>
          <div class="hamburger__item"></div>
        </div>
      </button>

      <ul id="menuList" class="navbar__menu menu" role="menu">
        <!-- <li class="menu__item" role="none">
          <a href="#" class="menu__link menu__link--active" role="menuitem">Home</a>
        </li>
        <li class="menu__item" role="none">
          <a href="#" class="menu__link" role="menuitem">Services</a>
        </li>
        <li class="menu__item" role="none">
          <a href="#" class="menu__link" role="menuitem">Pricing</a>
        </li> -->
        <li class="menu__item" role="none">
          <a routerLink="registration" class="menu__link cta cta--primary" role="menuitem">Register</a>
        </li>
        <li class="menu__item" role="none">
          <a routerLink="login" class="menu__link cta cta--primary" role="menuitem">Login</a>
        </li>
      </ul>
    </nav>

    <div id="overlayLayer" class="header__overlay"></div>
  </div>
</header>



<!-- Footer (: -->
<footer class="footer homefooter">
  <div class="footer__container container ">
    <div class="row">
      <div class="col-lg-6">
        <p class="target_zoom" style="color:#fff; ">All Right Reserved © 2024 Demo: Design &amp; Developed By <a
            style="color: #fff;">Akshat Chauhan</a></p>
      </div>
      <div class="col-lg-6 footersocialmedia">
        <i class='fab fa-facebook'></i>
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
      </div>

    </div>


  </div>
</footer>