<section>
  <div class="container">
    <div class="user signinBx">
      <div class="imgBx"><img src="assets/images/login-page-image.jpeg" alt="" /></div>
      <div class="formBx">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h2>Log In</h2>
          <div class="form-group">
            <input type="text" formControlName="username" placeholder="Username" />
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" placeholder="Password" />
          </div>
          <input type="submit" value="Login" />
          <p class="signup">
            Don't have an account ?
            <a routerLink="/signup">Sign Up.</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
