<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Message Received </h1>
      </div>

    </div>
  </div>
</section>


<div class="col-md-12">
  <div class="card card-success card-outline direct-chat direct-chat-success shadow-sm Maincardsection">

    <div class="card-body d-flex maindiv">

      <div class="DateTime">
        <h3>    {{msgdata[0].timestamp | date:'EEEE'}}</h3>
      </div>
       <!-- <div style="width: 100%;">
        <div class="direct-chat-msg messageleft">
          <img class="direct-chat-img" src="assets/img/user2-160x160.jpg" alt="Message User Image">
           
          <div class="direct-chat-text messagesend">
             <div class="direct-chat-infos clearfix">
             <a href="#"><span class="direct-chat-name float-left">Himanshu Panday</span></a> 
             <a href="#"> <span class="direct-chat-timestamp float-right">+91 7389290234</span></a>
            </div>

          
            Is this template really for free? That's unbelievable!
            <h3>9:10 PM</h3>
          </div>  
        </div>
      </div> -->


      

      <div style="width: 100%;" *ngFor="let msg of msgdata">
        <div class="direct-chat-msg messageleft">


          <img class="direct-chat-img" src="assets/img/user8-128x128.jpg" alt="Message User Image">

          <div class="direct-chat-text messagesend">

            <div class="direct-chat-infos clearfix">
              <a href="#"> <span class="direct-chat-name float-left">{{msg.name}}</span></a>
              <a href="#"> <span class="direct-chat-timestamp float-right">+{{msg.phone_number_id}} {{msg.display_phone_number}}</span></a>
            </div>
            <div *ngIf="msg.type=='media' " >

             


              <video width="320" height="240" controls  >
                <source src="{{msg.media_path}}" type="video/mp4" >
                <!-- <source src="movie.ogg" type="video/ogg"> -->
              </video>

              <a href="myvideo.mp4" download>Download Video</a>


            <!-- <img src="{{msg.media_path}}" width="100%" alt="Message User Image"> -->

          </div>
            
          <div *ngIf="msg.type=='image' " >




            <img src="{{msg.mime_type}}" width="100%" alt="Message User Image">

          </div>


           <div *ngIf="msg.type=='text' " >

            <!-- <img src="{{msg.mime_type}}" width="100%" alt="Message User Image"> -->

          </div>
          <div *ngIf="msg.type=='document' " >

            <!-- <img src="{{msg.mime_type}}" width="100%" alt="Message User Image"> -->

          </div>

            <div class="direct-chat-text messagesend">
              <div  >

              {{msg.body}}
            </div>
             
             <h3>{{msg.timestamp | date:'h:mm a '}}</h3>
           </div>
           
          </div>

        </div>
      </div>
     




    </div>

    <div class="card-footer">
      <form action="#" method="post">
        <div class="input-group imageicon">
        <a href="#"><i  class="nav-icon fas fa-smile"></i></a>  
         <a href="#"> <i class="nav-icon fas fa-image"></i> </a> 
          <!-- <i  class="nav-icon fas fa-chart-pie"></i> -->
          <input type="text" name="message" placeholder="Type Message ..." class="form-control">
          <span class="input-group-append">
            <button type="submit" style="margin-bottom: 5px;" class="btn btn-success">Send</button>
          </span>
        </div>
      </form>
    </div>

  </div>

</div>