<section>
  <div class="container">
    <div class="user">
      <div class="formBx">
        <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
          <h2>Create an account</h2>
          <div class="form-group">
            <input type="text" formControlName="username" placeholder="Username" />
          </div>
          <div class="form-group">
            <input type="email" formControlName="email" placeholder="Email Address" />
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" placeholder="Create Password" />
          </div>
          <div class="form-group">
            <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
          </div>
          <input type="submit" value="Sign Up" [disabled]="signupForm.invalid" />
          <p class="signup">
            Already have an account?
            <a routerLink="/login">Sign in.</a>
          </p>
        </form>
      </div>
      <div class="imgBx"><img src="assets/images/login-page-image.jpeg" alt="" /></div>
    </div>
  </div>
</section>
